@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: #fdfdfd;
    }

    textarea {
        background-color: #222;
        color: #fdfdfd;
    }

    button {
        background-color: cornflowerblue;
        border: 2px solid #fdfdfd;
        color: #fdfdfd;
    }
}

@media (prefers-color-scheme: light) {
    button {
        background-color: #DDD;
        border: 2px solid black;
        color: black;
    }
}

@media screen and (max-width: 480px) {
    .document-content > div:first-child {
        width: 100%!important;
    }

    .document-content {
        flex-wrap: wrap-reverse;
    }
}

button {
    font-size: 16px;
    padding: 10pt 20pt;
    cursor: pointer;
    border-radius: 7pt;
    width: 100%;
}

.asn-tree {
    font-family: monospace;
}

.node-shell {
    margin-left: 20pt;
    padding-left: 2pt;
    border-left: 1px solid #CCC;
}

.node-adornments {
    color: #999;
    display: inline-block;
}

.node-adornment-value {
    max-width: 400pt;
    word-wrap: break-word;
    display: inline-block;
    vertical-align: top;
}

.node-opener {
    position: relative;
    left: -5pt;
    top: -1.5pt;
    font-size: 6pt;
}
.node-opener a:link, .node-opener a:visited {
    text-decoration: none;
}

.node div {
    display: inline-block;
}

.node div:not(:last-child):not(:first-child) {
    margin-right: 5pt;
}

.node-synthetic {
    color: skyblue;
}

.node-standard {
    color: green;
}

.node-adornment:not(:last-child)::after {
    content: ",";
    margin-right: 5pt;
}

.node-display {
    max-width: 400pt;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
}

.node-parent {
    cursor: pointer;
}

.node-collapsed {
    font-style: italic;
    filter: brightness(0.85);
}

.document-content {
    width: 100%;
    display: flex;
}

.document-content > div:first-child {
    margin-left: 15pt;
    margin-right: 15pt;
    width: 400pt;
}
.document-content > div:last-child {
    flex: auto;
    min-width: 400pt;
    margin-bottom: 15pt;
}

#contents {
    width: 100%;
    height: 300pt;
}

#footer {
    position: fixed;
    bottom: 15pt;
    right: 15pt;
    font-family: monospace;
}

.round-button {
    padding: 5pt;
}

@media (prefers-color-scheme: dark) {
    .round-button a {
        border-color: white;
        background-color: black;
        filter: drop-shadow(#88888888 2px 2px);
    }

    #help-container {
        background-color: black;
        border: 1px solid white;
    }
}

@media (prefers-color-scheme: light) {
    .round-button a {
        border-color: black;
        background-color: #FFF;
        filter: drop-shadow(#CCCCCCCC 2px 2px);
    }

    #help-container {
        background-color: white;
        border: 1px solid black;
    }
}

.round-button a {
    margin-right: 10pt;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    text-align: center;
    width: 20pt;
    height: 20pt;
    border-radius: 100%;
    cursor: pointer;
    margin: 0;
}

.round-button a span {
    display: inline-block;
    width: 100%;
}

#help {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #88888888;
    display: flex;
    align-items: center;
    justify-content: center;
}

#help-container {
    font-family: monospace;
    padding: 4pt;
    position: relative;
}

#help-content {
    overflow-y: scroll;
    width: 100%;
    max-width: 400pt;
    height: 40%;
    max-height: 400pt;
    min-height: 200pt;
}

#close-help {
    position: absolute;
    right: -15pt;
    top: -15pt;
    display: inline-block;
}
