
name: Deployment
concurrency: live

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: live
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.x'
    - name: Build
      run: dotnet workload restore && dotnet workload install wasm-tools && dotnet publish web-asn.csproj -c release --output bin/publish
    - name: Tailscale
      uses: tailscale/github-action@v2
      with:
        oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
        oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
        tags: tag:ci
    - name: Copy To Production
      run: |
        mkdir -p ~/.ssh
        echo "vcsjones2024-dev ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKK5Bi4tOamAsNJpQpmk3bBwDN0hEB8dHTaeOdtJN6OU" >> ~/.ssh/known_hosts
        rsync -a --delete bin/publish/wwwroot/ deployer@vcsjones2024-dev:/var/wwwroot/asn.vcsjones.dev
        rsync --ignore-times _server/asn.vcsjones.dev.Caddyfile deployer@vcsjones2024-dev:/etc/caddy/caddy.d/asn.vcsjones.dev.Caddyfile
        ssh deployer@vcsjones2024-dev 'sudo systemctl reload caddy.service'
